<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
    
  </head>
  <body>
    <% include ../partials/header %>
    
    <div class="container">
      <div class="container">
        <% for(var i=0; i < articles.length; i++) {
        var algo = algos[i]; %>
<!--           <algo m_id="<%= algo._id %>" m_title="<%= algo.title %>" m_logo="<%= algo.logo %>" m_description="<%= algo.description %>" m_author_email="<%= algo.author.email %>" m_author_company_name="<%= algo.author.company_name %>"></algo>
 -->    
          <a href="/article/<%= articles[i]._id.toString() %>">
          <div class="algo-list-item col-sm-3" data-toggle="tooltip" data-placement="left" title="<%= articles[i].short_intro %>">
            <div class="article-name">
              <div>
                <% if (categories.types.filter(e=> e.id == articles[i].asset_type).length != 0) { %>
                  <img src="<%= categories.types.filter(e=> e.id == articles[i].asset_type)[0].icon %>" > 
                <% } %>
              </div>
              <%= articles[i].name %> 

            </div>
            <!-- <div class="article-logo" width="100%" height="100%" style="background-size: contain; background: url(\"<%= articles[i].logo %>\") no-repeat center;"></div> -->
            <div class="article-logo" style="border: 1px solid black; height: 10em;">
              <% if (articles[i].logo) { %>
              <img src="<%= articles[i].logo %>" width="100%" height="100%">
              <% } else {%>
              <div style="text-align: center;">No logo available</div>
              
              <% } %>
            </div>
          </div>
          </a>
        <% } %>
        
      </div>
    </div> 
    
    <% include ../partials/footer.ejs %>
    <script type="text/javascript">
      $(function(){
        $("algo").each(function(){
          //console.log("initiator : "+<%= initiator %>);
          $(this).algoInList("<%= initiator %>");//"myalgos");
        });
      });
    </script>
  </body>
</html>
