		
		<% if(version && verb && version.API[verb]) { %>

			<div class="panel panel-default">
				<div class="panel-heading">
					<a data-toggle="collapse" data-parent="#accordion-<%= version.version.replace(/\./g, '-') %>" href="#collapse-<%= version.version.replace(/\./g, '-') %>-<%= verb %>">
						<h3 class="panel-title" style="color: <%= (verb.toUpperCase() == 'GET')? 'green' : (verb.toUpperCase() == 'POST')? 'blue' : (verb.toUpperCase() == 'PUT')? 'grey' : 'red' %>">
							<b><%= verb.toUpperCase() %></b>
						</h3>
					</a>
				</div>

				<div id="collapse-<%= version.version.replace(/\./g, '-') %>-<%= verb %>" class="panel-collapse collapse">
					<div class="panel-body">

						<div class="panel-group" id="accordion-<%= verb %>-uri">
							<% for(var i=0; i < version.API[verb].length; i++) { %>
							<div class="panel panel-default">
								<div class="panel-heading">
									
									<a data-toggle="collapse" data-parent="#accordion-<%= verb %>-uri" href="#collapse-<%= verb %>-<%= i %>">
										<h4 class="panel-title">
											<%= version.API[verb][i].uri %>
										</h4>
									</a>
								</div>
								
								<div id="collapse-<%= verb %>-<%= i %>" class="panel-collapse collapse">
									<div class="panel-body">

										<div class="row">
											<div class="col-sm-2"> Inputs : </div>
											<div class="col-sm-10">
												<table class="table">
										            <thead>
										                <tr>
															<th> Name </th>
															<th> Types </th>
															<th> Required </th>
														</tr>
													</thead>
													<tbody>
													<% for (var j=0; j < version.API[verb][i].inputs.length; j++) { %>
														<tr>
				                    						<td> <%= version.API[verb][i].inputs[j].name %> </td>
				                    						<td> <%= version.API[verb][i].inputs[j].mime_types.join(', ') %> </td>
				                    						<td> <%= version.API[verb][i].inputs[j].required %> </td>
				                    					</tr>
													<% } %>
													</tbody>
												</table>		
											</div>
										</div>

										<div class="row">
											<div class="col-sm-2"> Outputs : </div>
											<div class="col-sm-10"> 
												<% for (var j=0; j < version.API[verb][i].outputs.length; j++) { %>
													<span> <%= version.API[verb][i].outputs[j] %> </span>
												<% } %>
											</div>
										</div>

										<div class="row">
											<div class="col-sm-2"> Description : </div>
											<div class="col-sm-10"> 
												<%- version.API[verb][i].description %>
											</div>
										</div>

									</div>                          
								</div>
							</div>
							<% } %>
						</div>

					</div>                          
				</div>
			</div>

      	<% } %>