
  
<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>

    </head>
    <body>
        <% include ../partials/header %>

        <div class="container">
        	
        	<% if(err){ %>
        		<div class="alert alert-danger"><%= err %></div>
        	<% } 

        	if( reports.length > 0 ){ %>
				<div class="panel-group" id="accordion">
					<% reports.forEach(function(r, i) { %>
					<div class="panel panel-default">
						<div class="panel-heading">
							<a data-toggle="collapse" data-parent="#accoridon" href="#collapse-<%= i %>">
								<h4 class="panel-title">
									From <%= r.emittedBy.username %> about algorithm <a href="/user/mysalgos/<%= r.article_version.articleID._id.toString() %>">"<%= r.article_version.articleID.name %>" - version <%= r.article_version.version %></a>
								</h4>
							</a>
						</div>
						
						<div id="collapse-<%= i %>" class="panel-collapse collapse">
							<div class="panel-body">
								<%- r.message %>
							</div>                          
						</div>
					</div>
					<% }); %>
				</div>
				<% } else { %>
					<div> There is bug report for the time being.</div>
				<% } %>
        </div>

        <% include ../partials/footer %>
    </body>
</html>
