
<%
    function removalWithIn(d){
        var dayToMillis = 1000*60*60*24;
        var hourToMillis = 1000*60*60;
        var minToMillis = 1000*60;

        var delta =  d.getTime() - Date.now() ;
        if(delta < 0)
            return 'Expired';

        var days = Math.floor(delta/dayToMillis);
        //days = delta % days;

        var hours = Math.floor( (delta%dayToMillis)/hourToMillis );
        //hours %= 24;
        
        var min = Math.floor( (delta%hourToMillis)/minToMillis);
        //min %= 60;

        var sec = Math.floor(delta/1000);
        sec %= 60;

        
        
        
        //return d.getTime() - Date.now() + '  ' + (1000*60*60*24*7)
        return days+" days, " + hours + ' h : '+min+' m : '+sec+' s.';
        //return Date.now() / (1000*60*60*24*30*12);
    }
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div class="container">
        
        <algopage class="row" _id="<%= algo._id %>" a_id="<%= algo.author._id %>">
            <section>
                <div>
                    <h2 id="title"><%= algo.title %></h2> 
                    <% if(typeof initiator !== 'undefined' && initiator == "myalgos"){ %>
                        <button type="button" class="btn btn-primary" id="edit-algo-information"> Edit algorithm </button>
                        <% if(!algo.delete_date) { %>
                            <button type="button" class="btn btn-danger" id="remove-algo"> Remove algorithm </button>
                        <% } else { %>
                            <button type="button" class="btn btn-danger" id="cancel-algo-removal"> Cancel removal (<%= removalWithIn(algo.delete_date) %> from deletion) </button>
                        <% } %>
                    <% } %>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Logo : </h3>
                        <div id="logo">
                            <div>
                                <% if(typeof algo.logo !== 'undefined') { %>
                                    <img src="<%= algo.logo %>" width="100%" height="100%"/>
                                <% } else { %>
                                    There's currently no logo.
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3> Tags :</h3>
                        <div id="tags">
                            <% for(var i=0; i < algo.keywords.length; i++) { %>
                                <pre style="display: inline-block;"> <%= algo.keywords[i] %> </pre>
                            <% } %>
                        </div>
                    </div>
                </div>
                <hr>
                <h3 id="description"> <%- algo.description %> </h3>
                <hr>
                <!--
                <div class="row">
                    <button type="button" class="btn btn-primary" id="edit-algo-information"> Edit algorithm </button>
                </div>
                -->
            </section>

            <section>
                <h2> Versions : <%- (typeof initiator !== 'undefined' && initiator == "myalgos")? `<button type="button" class="btn btn-primary" id="create-new-v"> Create new version </button>`:''%></h2>
                <div id="versions"><%= JSON.stringify(algo.versions) %></div>
            </section>
        </algopage>
    </div>
    <% include partials/footer %>
    <script type="text/javascript"> 
        $(function(){ 
            socket.emit("room", $('algopage').attr('_id'));
            $("algopage").algoPage("<%= (typeof initiator !== 'undefined' && initiator == "myalgos")?"admin":"catalog" %>");

            var m = $(`
                <div class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title"> Remove algorithm </h4>
                            </div>
                            <div class="modal-body">
                                <div id="traces" class="row"></div>
                            </div>
                        </div>
                    </div>
                </div>
                `
            );

            m.find('.modal-dialog').css('width', '80%');
            
            var onAlgoRemoved = function(status, msg){
                if(!m.hasClass('show')){
                    m.modal('show');
                }
                var msg = $(`<div class="alert ${(status == "success")?"alert-success":"alert-danger"}">${msg}</div>`);
                m.find("#traces").append(msg);
                m.find("#traces").append( $('<div></div>').append( $(`<button class="btn btn-primary pull-right">Consult my contributions</button>`).click(function(){window.location = '/user/myalgos';}) ) );
            }

            var onAlgoRemovedProgress = function(msg){
                //
                if(!m.hasClass('show')){
                    m.modal('show');
                }
                console.log('on : msg = '+msg);
                var msg = $(`<div class="alert alert-info">${msg}</div>`);
                m.find("#traces").append(msg);
            }

            socket.on('algo removed', onAlgoRemoved);
            /*
            socket.on('algo removed', function(status){
                console.log("ALGO REMOVED SUCCESSFULLY");

                notificationMsg("Removing algorithm", 
                    'Precaution delay expired, '+((status=="success")?'algorithm sucessfully removed':'however an error occurred. Please contact the admins'), 
                    10*1000,
                    {
                        title : { foreground: "indigo", background : "grey" }, 
                        body : {foreground : 'white', background : "black"}
                    }
                );
                if(status == 'success')
                    setTimeout(function(){
                        window.location.href = '/user/myalgos';
                    }, 10*1000);
            });*/
            socket.on('algo removed progress', onAlgoRemovedProgress);
        }); 
    </script>
    
  </body>
</html>




