
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include partials/head %>
  </head>
  <body>
    <% include partials/header %>
    <div>
      <div class="container">
        <% if(typeof algo === 'undefined' || !algo) { %>
          <h3> An error occured while retrieving algos. </h3>
          <h3> Back to <a href="/"> home </a>. </h3>
        <% } else { %>
            
            <ul class="nav nav-tabs" style="margin-bottom: 2em">
              <li role="presentation" class="active" id="ctrl_gen_inf"><a href="#"> General Information </a></li>
              <li role="presentation" id="ctrl_how_to_use"><a href="#"> API </a></li>
              <li role="presentation" id="ctrl_use"><a href="#"> Experience demo </a></li>
              <li role="presentation" id="ctrl_report_bug"><a href="#"> Report a bug </a></li>
              <!--
                <% if(algo.author.username == user.username) { %>
                  <a href="/algo/<%= algo._id %>/version/<%= algo.versions[0].version %>/edit"><span class="glyphicon glyphicon-cog pull-right" aria-hidden="true" style="position: relative; top:20px;"></span></a>
                <% } %>
              -->
            </ul>
            
            <div class="row">
              <div id="current_selected_item_display"> 
                <div id="gen_inf" class="col-sm-12">
                  <h2> <%= algo.title %> <span style="font-size:0.5em">v<%= algo.versions[0].version %></span> </h2>
                  <hr/>
                  <!--
                  <h2> Keywords : <%= algo['keywords'] %> </h2>
                  <hr/>
                  -->

                  <h3> <%- algo.description %> </h3>
                  <hr/>
                  <!--
                  <h2> Links : <%= algo['keywords'] %> </h2>
                  <hr/>
                  -->
                </div>
                <div id="how_to_use" class="col-sm-12">
                  <p>By the following you will find the explanations about the usage of the algorithm "<%= algo['title'] %>".</p><br/>
                  <p>If you need a reminder about the what the algorithm do, open the tab "General Information.</p><br/>
                  <p><em>Note that unless you subscribe to it you can't use it.</em></p><br/>
                  <hr />
                  <p>Here are the HTTP methods you can use to run the algorithm</p>
                  <div class="container">
                    <div class="panel-group" id="accordion">
                      <% var verb = "GET" %>
                      <% include utils/renderAPI2 %>
                      
                      <% var verb = "POST" %>
                      <% include utils/renderAPI2 %>
                      
                      <% var verb = "PUT" %>
                      <% include utils/renderAPI2 %>

                      <% var verb = "DELETE" %>
                      <% include utils/renderAPI2 %>
                    </div>

                    <hr/>

                  </div>
                  
                </div>
                <div id="use" class="col-sm-12"> 
                  <!--<iframe src="/demo/<%= algo.versions[0]._id%>/" frameborder=0 width="100%" height="500px" id="tabUseIFrame" onload="correctFrameHeight(this)"></iframe>-->
                  <!--
                  <% if(typeof demoAt !== 'undefined') { %>
                    <iframe src="<%= demoAt %>" frameborder=0 width="100%" height="500px" id="tabUseIFrame" onload="correctFrameHeight(this)"></iframe>
                  <% } else { %>
                    <span> An error occured.</span>
                  <% } %>
                  -->
                  <button type="button" class="btn btn-primary" id="show-demo">Show demo</button> (You might have to allow pop up windows first).
                </div>
                <div id="report_bug" class="col-sm-12">
                  <form method="post" class="row col-sm-8 col-sm-offset-2">
                  
                    <div class="form-group row ">
                      <textarea name="bug_report" class="form-control" rows="3" placeholder="Describe the bug here" required></textarea>
                    </div>
                    
                    
                    <div class="form-group row col-sm-2 pull-right" >
                        <button type="submit" class="btn btn-primary pull-right"> Submit </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
        <% } %>
    </div>
    <div class="container" style="font-size: 3em;margin-top: 3em">
      Convinced by the algo? <a href="#"> Subscribe Here </a><!-- /subcribe/algoID -->
    </div>
  </div>
  <% include partials/footer %>
  <script>
    $(function(){
      
      $('#how_to_use').hide();
      $('#use').hide();
      $('#report_bug').hide();

      $('#ctrl_gen_inf').click(function(){
        $('#ctrl_gen_inf').addClass("active");
        $('#ctrl_how_to_use').removeClass("active");
        $('#ctrl_use').removeClass("active");
        $('#ctrl_report_bug').removeClass("active");

        $('#gen_inf').show();
        $('#how_to_use').hide();
        $('#use').hide();
        $('#report_bug').hide();
      });

      $('#ctrl_how_to_use').click(function(){
        $('#ctrl_how_to_use').addClass("active");
        $('#ctrl_gen_inf').removeClass("active");
        $('#ctrl_use').removeClass("active");
        $('#ctrl_report_bug').removeClass("active");

        $('#gen_inf').hide();
        $('#how_to_use').show();
        $('#use').hide();
        $('#report_bug').hide();
      });
      
      $('#ctrl_use').click(function(){
        $('#ctrl_use').addClass("active");
        $('#ctrl_gen_inf').removeClass("active");
        $('#ctrl_how_to_use').removeClass("active");
        $('#ctrl_report_bug').removeClass("active");
        
        $('#gen_inf').hide();
        $('#how_to_use').hide();
        $('#use').show();
        $('#report_bug').hide();
      });
      
      $('#ctrl_report_bug').click(function(){
        $('#ctrl_report_bug').addClass("active");
        $('#ctrl_gen_inf').removeClass("active");
        $('#ctrl_how_to_use').removeClass("active");
        $('#ctrl_use').removeClass("active");
        
        $('#gen_inf').hide();
        $('#how_to_use').hide();
        $('#use').hide();
        $('#report_bug').show();
      });

      $("#show-demo").click(function(){
        console.log("show-demo clicked");
        window.open('/demo/<%= algo.versions[0]._id%>/','_blank','directories=no,titlebar=no,toolbar=no,location=no,status=no,menubar=no,scrollbars=no,resizable=no,width='+$(document).width()+',height='+$(document).height());
      });
    });
  </script>
<script type="text/javascript">
  <% if(algo.versions[0].API.GET){ %>
      if ($('#api_get_pill').hasClass('active')){
        <% if(algo.versions[0].API.POST){ %>
            $('#api_post_form').hide();
        <% } %>
        <% if(algo.versions[0].API.PUT){ %>
            $('#api_put_form').hide();
        <% } %>
        <% if(algo.versions[0].API.DELETE){ %>
            $('#api_delete_form').hide();
        <% } %>
      }
  <% } %>

  <% if(algo.versions[0].API.POST){ %>
      if ($('#api_post_pill').hasClass('active')){
        <% if(algo.versions[0].API.GET){ %>
            $('#api_get_form').hide();
        <% } %>
        <% if(algo.versions[0].API.PUT){ %>
            $('#api_put_form').hide();
        <% } %>
        <% if(algo.versions[0].API.DELETE){ %>
            $('#api_delete_form').hide();
        <% } %>
      }
  <% } %>

  <% if(algo.versions[0].API.PUT){ %>
      if ($('#api_put_pill').hasClass('active')){
        <% if(algo.versions[0].API.GET){ %>
            $('#api_get_form').hide();
        <% } %>
        <% if(algo.versions[0].API.POST){ %>
            $('#api_post_form').hide();
        <% } %>
        <% if(algo.versions[0].API.DELETE){ %>
            $('#api_delete_form').hide();
        <% } %>
      }
  <% } %>

  <% if(algo.versions[0].API.DELETE){ %>
      if ($('#api_delete_pill').hasClass('active')){
        <% if(algo.versions[0].API.GET){ %>
            $('#api_get_form').hide();
        <% } %>
        <% if(algo.versions[0].API.PUT){ %>
            $('#api_put_form').hide();
        <% } %>
        <% if(algo.versions[0].API.POST){ %>
            $('#api_post_form').hide();
        <% } %>
      }
  <% } %>



  <% if(algo.versions[0].API.GET){ %>
      $('#api_get_pill').click(function(){
        $('#api_get_form').show();
        $('#api_get_pill').addClass('active');
        <% if(algo.versions[0].API.POST){ %>
            $('#api_post_pill').removeClass('active');
            $('#api_post_form').hide();
        <% } %>
        <% if(algo.versions[0].API.PUT){ %>
            $('#api_put_pill').removeClass('active');
            $('#api_put_form').hide();
        <% } %>
        <% if(algo.versions[0].API.DELETE){ %>
            $('#api_delete_pill').removeClass('active');
            $('#api_delete_form').hide();
        <% } %>
      });
  <% } %>

  <% if(algo.versions[0].API.POST){ %>
      $('#api_post_pill').click(function(){
        $('#api_post_form').show();
        $('#api_post_pill').addClass('active');
        <% if(algo.versions[0].API.GET){ %>
            $('#api_get_pill').removeClass('active');
            $('#api_get_form').hide();
        <% } %>
        <% if(algo.versions[0].API.PUT){ %>
            $('#api_put_pill').removeClass('active');
            $('#api_put_form').hide();
        <% } %>
        <% if(algo.versions[0].API.DELETE){ %>
            $('#api_delete_pill').removeClass('active');
            $('#api_delete_form').hide();
        <% } %>
      });
  <% } %>

  <% if(algo.versions[0].API.PUT){ %>
      $('#api_put_pill').click(function(){
        $('#api_put_form').show();
        $('#api_put_pill').addClass('active');
        <% if(algo.versions[0].API.POST){ %>
            $('#api_post_pill').removeClass('active');
            $('#api_post_form').hide();
        <% } %>
        <% if(algo.versions[0].API.GET){ %>
            $('#api_get_pill').removeClass('active');
            $('#api_get_form').hide();
        <% } %>
        <% if(algo.versions[0].API.DELETE){ %>
            $('#api_delete_pill').removeClass('active');
            $('#api_delete_form').hide();
        <% } %>
      });
  <% } %>

  <% if(algo.versions[0].API.DELETE){ %>
      $('#api_delete_pill').click(function(){
        $('#api_delete_form').show();
        $('#api_delete_pill').addClass('active');
        <% if(algo.versions[0].API.POST){ %>
            $('#api_post_pill').removeClass('active');
            $('#api_post_form').hide();
        <% } %>
        <% if(algo.versions[0].API.PUT){ %>
            $('#api_put_pill').removeClass('active');
            $('#api_put_form').hide();
        <% } %>
        <% if(algo.versions[0].API.GET){ %>
            $('#api_get_pill').removeClass('active');
            $('#api_get_form').hide();
        <% } %>
      });
  <% } %>
  
</script>
<script type="text/javascript">
    $('#ctrl_gen_inf a, #ctrl_how_to_use a, #ctrl_use a, #ctrl_report_bug a').click(function(e){
      e.preventDefault();
    });
    
    function LoadingAnimation() {
      $('#request_status').html('Processing ...');
      $('*[type="submit"]').prop('disable', true);
    }
    
    function showResult(algoname, algobody) {
        var mod = $('<div class="modal fade" role="dialog">'+
                        '<div class="modal-dialog">'+

                          '<!-- Modal content-->'+
                          '<div class="modal-content">'+
                            '<div class="modal-header">'+
                              '<button type="button" class="close" data-dismiss="modal">&times;</button>'+
                              '<h4 class="modal-title">'+algoname+'</h4>'+
                            '</div>'+
                            '<div class="modal-body">'+algobody+'</div>'+
                            '<div class="modal-footer">'+
                              '<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'+
                            '</div>'+
                          '</div>'+

                        '</div>'+
                     '</div>');
        mod.modal('show');
        $('*[type="submit"]').prop('disable', false);
      }
      function displayRESTResult() {
        alert("Displaying ...");
        alert($('#restFrame').contents().find('body').html());
        //showResult('<h1><%= algo.title %></h1>', document.getElementById('restFrame').contentWindow.document.body.innerHTML);
      }
  </script>
  <script type="text/javascript">
    function correctFrameHeight(){
      console.log("Resize here");
    }
  </script>
<!--
RATHER FOR USERS
<ul class="nav nav-tabs nav-justified">
  <li role="presentation" class="active"><a href="#"> Account information </a></li>
  <li role="presentation"><a href="#"> My Algorithms </a></li>
  <li role="presentation"><a href="#"> Subscriptions </a></li>
  <li role="presentation"><a href="#"> History </a></li>
</ul>
-->
    

    <!--
    <script type="text/javascript">
      $(function(){
        $('div[id^="empilement-"] .item .title').css({
          "font-size" :  "1.8em",
          "font-weight" : "bold",
          "margin-bottom" : '1em'
        });

        $('div[id^="empilement-"] .item .body').hide();

        $('div[id^="empilement-"] .item .title').click(function(e){
          
          if ($(this).next('.body').is(":visible")){
            $(this).next('.body').slideUp();
            return;
          }

          var p = $(this).parent(), pp = $(p).parent(), id_emp = $(pp).attr('id');
          var ind = $('#'+id_emp+' .item').index(p);

          var count = $('#'+id_emp+' .item').length;
          for(var i=0; i < count; i++)
            if( i != ind)
              $('#'+id_emp+' .item:eq('+i+') .body').slideUp();
          $(this).next('.body').slideDown();
          //$(p).find('.body').fin
          //alert('id_emp : '+id_emp+', ind : '+ind);
        });
        $('.uri .body').css({ "margin-bottom" : "3em"});
        $('.uri:nth-child(even)').css({ "background": "#CCC"});
        $('.uri:nth-child(odd)').css({ "background": "#FFF"});
        $('.api-request-object div.row').css('margin-bottom', '2em');
        $('.api-output').css({
          "padding" : "0.5em",
          "margin-right" : "2em",
          "background" : "#DCDCDC"          
        });
        
      });
    </script>
    -->
  </body>
</html>




