

<% if(typeof iframing !== 'undefined') { %>
	<script type="text/javascript">
		<% if(typeof alert_message !== 'undefined') { %>
			window.top.window.alert("<%= alert_message %>");
		<% } else { %>
			<% if(iframing.cause == "hidden") { %>
				window.top.window.confirmHidden("<%= iframing.msg %>");
			<% } %>
			<% if(iframing.cause == "delete") { %>
				window.top.window.completeDelete();
			<% } %>
			<% if(iframing.cause == "updateForm") { %>
				window.top.window.confirmUpdate();
			<% } %>
		<% } %>
	</script>
<% } else { %>

	<!DOCTYPE html>
	<html>
	  <head>
	    <% include partials/head %>
	    
	  </head>
	  <body>
	    <% include partials/header %>
	    
	    <div class="container">
	    	<div class="row">
	    		<div class="row">
	    			<h2> Simple operations </h2>
	    		</div>
				<form method="post" class="col-sm-offset-3 col-sm-3" target="algoEditFrame" id="hiddenForm">
					<input type="hidden" name="triggeredBy" value="hide">
					<div class="form-group">
		    			<button type="sumbit" class="btn bt-info"> Toggle Hidden </button>
		    		</div>
			    </form>
			    <form  method="post" class="col-sm-3" target="algoEditFrame" id="deleteForm">
					<input type="hidden" name="triggeredBy" value="delete">
					<div class="form-group">
		    			<button type="button" class="btn bt-info" onclick="confirmDeletion()"> Delete Algo </button>
		    		</div>
				</form>
			</div>

			<hr/>

			<div class="row">
		    	<form method="post" target="algoEditFrame" id="updateForm">
		    		<div class="row">
		    			<h2>Update Infos : </h2>
		    		</div>
		    		<input type="hidden" name="triggeredBy" value="updateForm">
		    		
		    	</form>
	    	</div>
	    	
	    	<hr/>
	    	
	    	<div class="row">
	    		<div class="row">
	    			<h2> Infrasctructure State </h2>
	    		</div>
	    		<div class="row col-sm-offset-1">
	    			<div class="row">
		    			<fieldset>
		    				<legend> Pods : </legend>
		    				<% if(typeof pods !== 'undefined') { %>
			    				<table class="table">
					              	<thead>
					                	<tr>
						                  	<th> Name </th>
						                  	<th> State </th>
						                </tr>
					              	</thead>
					              	<tbody>
					              		<% for (var i=0; i < pods.length; i++) { %>
					              		<tr>
					              			<td> <%= pods[i] %> </td>
					              			<td id="Pod-<%= pods[i] %>-state"> Loading information ... </td>
					              			<td> <button id="describe-Pod-<%= pods[i] %>" class="btn">Describe</button> </td>
					              			<td> <button id="fdescription-Pod-<%= pods[i] %>" class="btn">Full Spec</button> </td>
					              		</tr>
					              		<% } %>
					              	</tbody>
					            </table>
				            <% } else { %>
				            	<div class="tgis"></div>
				            <% } %>
		    			</fieldset>
	    			</div>
	    			<% if ( typeof rcs !== 'undefined' ) { %>
		    			<div class="row">
		    				
			    			<fieldset>
			    				<legend> Replication Controllers : </legend>
				    				<table class="table">
						              	<thead>
						                	<tr>
							                  	<th> Name </th>
							                  	<th> State </th>
							                </tr>
						              	</thead>
						              	<tbody>
						              		<% for (var i=0; i < rcs.length; i++) { %>
						              		<tr>
						              			<td> <%= rcs[i] %> </td>
						              			<td id="ReplicationController-<%= rcs[i] %>-state"> Loading information ... </td>
						              			<td> <button id="describe-ReplicationController-<%= rcs[i] %>" class="btn">Describe</button> </td>
						              			<td> <button id="fdescription-ReplicationController-<%= rcs[i] %>" class="btn">Full Description</button> </td>
						              		</tr>
						              		<% } %>
						              	</tbody>
						            </table>
			    			</fieldset>
			    			
			    		</div>
		    		<% } else { %>
		            	<div class="tgis"></div>
		            <% } %>
	    		</div>
	    	</div>
	    
	    </div>
	    <iframe src="#" name="algoEditFrame" id="algoEditFrame" style="display: none;"></iframe>

	    <% include partials/footer %>
	    <script type="text/javascript">
	    	
	    	function resultModal(algoname, algobody) {
	    		var mod = $('<div class="modal fade" role="dialog">'+
		                      	'<div class="modal-dialog">'+

			                        '<!-- Modal content-->'+
			                        '<div class="modal-content">'+
			                          	'<div class="modal-header">'+
				                            '<button type="button" class="close" data-dismiss="modal">&times;</button>'+
				                            '<h4 class="modal-title">'+algoname+'</h4>'+
			                          	'</div>'+
			                          	'<div class="modal-body">'+algobody+'</div>'+
			                          	'<div class="modal-footer">'+
			                            	'<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>'+
			                          	'</div>'+
			                        '</div>'+

		                      	'</div>'+
		                   '</div>');
		    	mod.modal('show');
	    	}

	    	function confirmHidden(msg){
	    		resultModal('', 'Hidden toggled, current val is '+msg);
	    	}
	    	function confirmDeletion(){
	    		/*
	    		var confirmation = confirm("Do you really want to delete this algorithm?");
	    		if(confirmation == true){
	    			$('#deleteForm').submit();
	    		}
	    		*/
	    		var mod = $('<div class="modal fade" role="dialog">'+
		                      	'<div class="modal-dialog">'+

		                        	'<!-- Modal content-->'+
		                        	'<div class="modal-content">'+
		                          		'<div class="modal-header">'+
		                            		'<button type="button" class="close" data-dismiss="modal">&times;</button>'+
		                            		'<h4 class="modal-title">Delete the algorithm?</h4>'+
		                          		'</div>'+
		                          		'<div class="modal-body">This algorithm will be permanently deleted and cannot be recovered. Are you sure?</div>'+
		                          		'<div class="modal-footer">'+
		                            		'<button type="button" class="btn btn-default" data-dismiss="modal" onclick="$(\'#deleteForm\').submit();">Yes, I am</button>'+
		                            		'<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>'+
		                          		'</div>'+
		                        	'</div>'+

		                      	'</div>'+
		                   '</div>');
	    		mod.modal('show');
	    		
	    	}

	    	function completeDelete(msg){
	    		//alert('Deletion complete');
	    		var mod = $('<div class="modal fade" role="dialog">'+
		                      	'<div class="modal-dialog">'+

		                        	'<!-- Modal content-->'+
		                        	'<div class="modal-content">'+
		                          		'<div class="modal-header">'+
		                            		'<button type="button" class="close" data-dismiss="modal">&times;</button>'+
		                            		'<h4 class="modal-title">Delete the algorithm?</h4>'+
		                          		'</div>'+
		                          		'<div class="modal-body">Algorithm successfully deleted.</div>'+
		                          		'<div class="modal-footer">'+
		                            		'<a href="/user/myalgos"><button type="button" class="btn btn-default" data-dismiss="modal">See my algos</button></a>'+
		                            	'</div>'+
		                        	'</div>'+

		                      	'</div>'+
		                   '</div>');
	    		mod.modal('show');
	    		mod.on('hidden.bs.modal', function () {
	    			window.location.replace("/user/myalgos");
	    		});
	    	}

	    	function confirmUpdate(){
	    		alert('The algo is updated reloading now ...');
	    		location.reload();
	    	}
	    </script>
	    
	    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>

	    <script type="text/javascript">
		    
		    	var socket = io(window.location.protocol+'//'+window.location.hostname+'/algo/edit/');

		    	var descriptionResult = function(type, kind, name, result){
		    		var mod = $('<div class="modal fade" role="dialog">'+
			                      	'<div class="modal-dialog">'+

			                        	'<!-- Modal content-->'+
			                        	'<div class="modal-content">'+
			                          		'<div class="modal-header">'+
			                            		'<button type="button" class="close" data-dismiss="modal">&times;</button>'+
			                            		'<h4 class="modal-title">'+type+' for '+kind+' <b>'+name+'</b></h4>'+
			                          		'</div>'+
			                          		'<div class="modal-body" style="font-color: white; background: black"><pre>'+result+'</pre></div>'+
			                          	'</div>'+

			                      	'</div>'+
			                   '</div>');
		    		mod.find('.modal-dialog').css('width', '80%');
		    		mod.modal('show');
		    	}

		    	socket.on('state', function(kind, name, state){
		    		//
		    		console.log('- Kind : '+kind+', Name : '+name+', State : '+state);
		    		$('#'+kind+'-'+name+'-state').html('<b>'+state+'</b>');
		    	});

		    	$("[id^='describe-Pod-'], [id^='describe-ReplicationController-']").click(function(){
		    		if($(this).attr('id').startsWith('describe-Pod-')){
			    		var name = $(this).attr('id').replace('describe-Pod-', '');
			    		console.log(name);
			    		socket.emit('describe', 'Pod', name);
			    	}else if($(this).attr('id').startsWith('describe-ReplicationController-')){
			    		var name = $(this).attr('id').replace('describe-ReplicationController-', '');
			    		console.log(name);
			    		socket.emit('describe', 'ReplicationController', name);
			    	}
		    	});
		    	socket.on('describe', function(kind, name, result){
		    		descriptionResult("Describe", kind, name, result);
		    	});
		    	$("[id^='fdescription-Pod-'], [id^='fdescription-ReplicationController-']").click(function(){
		    		if($(this).attr('id').startsWith('fdescription-Pod-')){
			    		var name = $(this).attr('id').replace('fdescription-Pod-', '');
			    		console.log(name);
			    		socket.emit('full description', 'Pod', name);
			    	}else if($(this).attr('id').startsWith('fdescription-ReplicationController-')){
			    		var name = $(this).attr('id').replace('fdescription-ReplicationController-', '');
			    		console.log(name);
			    		socket.emit('full description', 'ReplicationController', name);
			    	}
		    	});
		    	socket.on('full description', function(kind, name, result){
		    		descriptionResult("Full description", kind, name, result);
		    	});
		    	window.onbeforeunload = function(){
			        socket.emit('clean');
			        socket.disconnect();
			        //return 'Sure?';
			    };

			    $(".tgis").html('<p>Trouble getting the infrastructure state</p>');
			    $(".tgis p").css({
			    	"font-size" : "2em",
			    	"border-radius" : "5px",
			    	"text-align" : "center"
			    });
			    $(".tgis p").wrap('<pre>');

	    </script>
	  </body>
	</html>
<% } %>