
<div class="row">
	<div class="col-sm-2">
		<ul class="nav nav-pills nav-stacked" style="text-align: center;">
		  <% if(algo.API.get) { %>
		  	<li class="active" id="api_get_pill"><a href="#">GET</a></li>
		  <% } %>
		  <% if(algo.API.post) { %>
		  	<li <% if(!algo.API.get) { %> class="active" <% } %> id="api_post_pill"><a href="#">POST</a></li>
		  <% } %>
		  <% if(algo.API.put) { %>
		  	<li <% if(!algo.API.get && !algo.API.post) { %> class="active" <% } %> id="api_put_pill"><a href="#">PUT</a></li>
		  <% } %>
		  <% if(algo.API.delete) { %>
		  	<li <% if(!algo.API.get && !algo.API.post && !algo.API.put) { %> class="active" <% } %> id="api_delete_pill"><a href="#">DELETE</a></li>
		  <% } %>
		</ul>
	</div>
	<div class="col-sm-10">
		<% if(algo.API.get){ %>
			<div id="api_get_form">
				<form method="get" target="restFrame" action="<%= algo.url %>" onsubmit="LoadingAnimation()">
					<input type="hidden" name="algoID" value="<%= algo._id %>">
					<input type="hidden" name="AF_method" value="GET">
					<div class="form-group row">
				    	<label for="uri" class="col-sm-2 col-form-label col-form-label-lg">uri : </label>
				    		<div class="col-sm-10">
				    			<input type="text" class="form-control form-control-lg" name="uri" id="uri" value="/" required/>
				    		</div>
				    </div>
				    <hr/>
					<% for(var i = 0; i < algo.API.get.inputs.length; i++) { %>
						<div class="form-group row">
					    	<label for="<%= algo.API.get.inputs[i].name %>" class="col-sm-2 col-form-label col-form-label-lg"><%= algo.API.get.inputs[i].name %> : </label>
					    		<div class="col-sm-10">
					    			<input type="text" class="form-control form-control-lg" name="<%= algo.API.get.inputs[i].name %>" id="<%= algo.API.get.inputs[i].name %>" <%= (algo.API.get.inputs[i].need == 'required')? 'required' : '' %> />
					    		</div>
					    </div>
					<% } %>
					<div class="form-group row" >
		                <button type="submit" class="btn btn-primary pull-right" name="submitGET"> Go </button>
		            </div>
				</form>
			</div>
		<% } %>



		<% if(algo.API.post){ %>
			<div id="api_post_form">
				<form method="post" target="restFrame" action="<%= algo.url %>" onsubmit="LoadingAnimation()" enctype="multipart/form-data">
					<input type="hidden" name="algoID" value="<%= algo._id %>">
					<input type="hidden" name="AF_method" value="POST">
					<div class="form-group row">
				    	<label for="uri" class="col-sm-2 col-form-label col-form-label-lg">uri : </label>
				    		<div class="col-sm-10">
				    			<input type="text" class="form-control form-control-lg" name="uri" id="uri" value="/" required/>
				    		</div>
				    </div>
				    <hr/>
					<% for(var i = 0; i < algo.API.post.inputs.length; i++) { %>
						<div class="form-group row">
					    	<label for="<%= algo.API.post.inputs[i].name %>" class="col-sm-2 col-form-label col-form-label-lg"><%= algo.API.post.inputs[i].name %> : </label>
					    		<div class="col-sm-10">
					    			<input <%= (/text\//.test(algo.API.post.inputs[i].type)? 'type="text" class="form-control form-control-lg"' : "type=file") %>  name="<%= algo.API.post.inputs[i].name %>" id="<%= algo.API.post.inputs[i].name %>" <%= (algo.API.post.inputs[i].need == 'required')? 'required' : '' %> />
					    		</div>
					    </div>
					<% } %>
					<div class="form-group row" >
		                <button type="submit" class="btn btn-primary pull-right" name="submitPOST"> Go </button>
		            </div>
				</form>
			</div>
		<% } %>



		<% if(algo.API.put){ %>
			<div id="api_put_form">
				<form method="put" target="restFrame" action="<%= algo.url %>" onsubmit="LoadingAnimation()" enctype="multipart/form-data">
					<input type="hidden" name="algoID" value="<%= algo._id %>">
					<input type="hidden" name="AF_method" value="PUT">
					<div class="form-group row">
				    	<label for="uri" class="col-sm-2 col-form-label col-form-label-lg">uri : </label>
				    		<div class="col-sm-10">
				    			<input type="text" class="form-control form-control-lg" name="uri" id="uri" value="/" required/>
				    		</div>
				    </div>
				    <hr/>
					<% for(var i = 0; i < algo.API.put.inputs.length; i++) { %>
						<div class="form-group row">
					    	<label for="<%= algo.API.put.inputs[i].name %>" class="col-sm-2 col-form-label col-form-label-lg"><%= algo.API.put.inputs[i].name %> : </label>
					    		<div class="col-sm-10">
					    			<input <%= (/text\//.test(algo.API.put.inputs[i].type)? 'type="text" class="form-control form-control-lg"' : "type=file") %>  name="<%= algo.API.put.inputs[i].name %>" id="<%= algo.API.put.inputs[i].name %>" <%= (algo.API.put.inputs[i].need == 'required')? 'required' : '' %> />
					    		</div>
					    </div>
					<% } %>
					<div class="form-group row" >
		                <button type="submit" class="btn btn-primary pull-right" name="submitPUT"> Go </button>
		            </div>
				</form>
			</div>
		<% } %>



		<% if(algo.API.delete){ %>
			<div id="api_delete_form">
				<form method="delete" target="restFrame" action="<%= algo.url %>" onsubmit="LoadingAnimation()" enctype="multipart/form-data">
					<input type="hidden" name="algoID" value="<%= algo._id %>">
					<input type="hidden" name="AF_method" value="DELETE">
					<div class="form-group row">
				    	<label for="uri" class="col-sm-2 col-form-label col-form-label-lg">uri : </label>
				    		<div class="col-sm-10">
				    			<input type="text" class="form-control form-control-lg" name="uri" id="uri" value="/" required/>
				    		</div>
				    </div>
				    <hr/>
					<% for(var i = 0; i < algo.API.delete.inputs.length; i++) { %>
						<div class="form-group row">
					    	<label for="<%= algo.API.delete.inputs[i].name %>" class="col-sm-2 col-form-label col-form-label-lg"><%= algo.API.delete.inputs[i].name %> : </label>
					    		<div class="col-sm-10">
					    			<input <%= (/text\//.test(algo.API.delete.inputs[i].type)? 'type="text" class="form-control form-control-lg"' : "type=file") %>  name="<%= algo.API.delete.inputs[i].name %>" id="<%= algo.API.delete.inputs[i].name %>" <%= (algo.API.delete.inputs[i].need == 'required')? 'required' : '' %> />
					    		</div>
					    </div>
					<% } %>
					<div class="form-group row" >
		                <button type="submit" class="btn btn-primary pull-right" name="submitDELETE"> Go </button>
		            </div>
				</form>
			</div>
		<% } %>
		<hr/>
		<div class="container">
			<h3>Request Status : </h3>
			<div id="request_status">
				No request Outgoing.
			</div>
		</div>
	</div>

	<iframe src="#" id="restFrame" name="restFrame" style="display:none;" onload="displayRESTResult()"></iframe>

</div>

