
  
<!DOCTYPE html>
<html>
    <head>
        <% include partials/head %>

    </head>
    <body>
    	<div class="modal fade" role="dialog" id="my-modal">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title"><%= title %> </h1>
                    </div>
                    <div class="modal-body">
                        <div class="alert alert-<%= status %>"><%- msg %></div>
                        <h3>Countdown before redirection to <b> <%= redirectTo %> </b>: <span id="countdown"></span></h3>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript">
        	$(function(){
	        	var mod = $("#my-modal");
	        	mod.modal('show');
	            mod.find('.modal-dialog').css('width', '80%');

	        	var countdown = 10;

	        	mod.find('.modal-title').css("text-align", "center");
	            mod.find('#countdown').text(countdown);
	            setInterval(function(){
	            	if(countdown == 0)
		            	return window.location.replace('<%= redirectTo %>');
		            mod.find('#countdown').text(--countdown);
	            }, 1000);
            });
        </script>
    </body>
</html>
