<!DOCTYPE html>
<html>
  <head>
    <% include partials/head %>
    
  </head>
  <body>
    <% include partials/header %>
    
    <div class="container">
      <div class="container">
        <% for(var i=0; i < algos.length; i++) {
        var algo = algos[i]; %>
          <algo m_id="<%= algo._id %>" m_title="<%= algo.title %>" m_logo="<%= algo.logo %>" m_description="<%= algo.description %>" m_author_email="<%= algo.author.email %>" m_author_company_name="<%= algo.author.company_name %>"></algo>
        <% } %>
      </div>
    </div> 
    
    <% include partials/footer.ejs %>
    <script type="text/javascript">
      $(function(){
        $("algo").each(function(){
          //console.log("initiator : "+<%= initiator %>);
          $(this).algoInList("<%= initiator %>");//"myalgos");
        });
      });
    </script>
  </body>
</html>
