
<% include ../partials/functions %>
<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>

</head>
<body>
	<% include ../partials/header %>

	
	<div class="container">
		<form method="post" enctype="multipart/form-data" id="new-article-form">

			<div class="form-group row">
				<div class="alert-danger validation-err"></div>
			</div>
			<div class="form-group row">
				<label for="title" class="col-sm-3 col-form-label col-form-label-lg"> Name : </label>
				<div class="col-sm-9">
					<input type="text" class="form-control form-control-lg" name="title" id="title" required/>
				</div>
			</div>

			<div class="form-group row">
				<label for="short_intro" class="col-sm-3 col-form-label col-form-label-lg"> Short introduction : </label>
				<div class="col-sm-9">
					<input type="text" class="form-control form-control-lg" name="short_intro" id="short_intro" required/>
				</div>
			</div>

			<div class="form-group row">
				<label for="logo_upload" class="col-sm-3 col-form-label col-form-label-lg"> Logo : </label>
				<div class="col-sm-9">
					<div>
						<button type="button" class="btn btn-primary" id="logo_launch_upload">Upload an image</button>
						<input type="file" name="logo_upload" id="logo_upload" accept="image/*" style="display : none;"/>
					</div>
					<div id="logo_preview">
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label for="" class="col-sm-3 col-form-label col-form-label-lg"> Categories : </label>
				<div class="col-sm-9">
					<div class="row">
						<div class="col-sm-4">
							<select id="tech-category" name="technical_category" class="form-control">
								<option value="_none" disabled="" selected="">Technical categories*</option>
								<% for (var i=0; i < categories.technical.length; i++) { %>
									<option value="<%= categories.technical[i].id %>"><%= categories.technical[i].name %></option>
								<% } %>
							</select>
						</div>
						<div class="col-sm-4">
							<select id="bus-category" name="business_category" class="form-control">
								<option value="_none" disabled="" selected="">Business categories*</option>
								<% for (var i=0; i < categories.business.length; i++) { %>
									<option value="<%= categories.business[i].id %>"><%= categories.business[i].name %></option>
								<% } %>
							</select>
						</div>
						<div class="col-sm-4">
							<select id="asset-type" name="asset_type" class="form-control">
								<option value="_none" disabled="" selected="">Asset type*</option>
								<% for (var i=0; i < categories.types.length; i++) { %>
									<option value="<%= categories.types[i].id %>"><%= categories.types[i].name %></option>
								<% } %>
								
								<!-- <option value="dataset">Dataset</option>
								<option value="executable">Executable</option>
								<option value="ai_model">AI model</option>
								<option value="docker">Docker container</option>
								<option value="notebook">Jupyter Notebook</option>
								<option value="service">As a Service</option>
								<option value="library">Library</option> -->
							</select>
						</div>
					</div>
				</div>
			</div>

			<div class="form-group row">
				<label for="description" class="col-sm-3 col-form-label col-form-label-lg"> Description : <span id="info-description" title="You can use HTML code in the description and, as long as you don't use <script>, it it shall work without a problem.">?</span></label>
					<div class="col-sm-9">
						<textarea class="form-control" rows="20" id="description" name="description"></textarea>
					</div>
				</div>

				<div class="form-group row">
					<label for="kwds" class="col-sm-3 col-form-label col-form-label-lg"> Tags : </label>
					<div class="col-sm-3">
						<input type="text" class="form-control form-control-lg" name="kwds[]" id="kwds" />
					</div>
					<div class="col-sm-2">
						<button type="button" id="addkwds" class="btn">Add Tag</button>
					</div>
				</div>

				
				<div class="form-group row" id="givenkwds"></div>

				<div class="row">
					<div class="col-sm-2 pull-right">
						<!-- <input type="button" value="Submit" id="submit" class="btn btn-primary pull-right"/> -->
						<input type="submit" value="Submit" id="submit" class="btn btn-primary pull-right"/>
					</div>
				</div>
		</form>
	</div>


		<% include ../partials/footer %>
		<script type="text/javascript">

			var form = $('#new-article-form');

			var tags = [], logo_file = null;
			form.submit(function(){
				$('.validation-err').html("");

				console.log("Form submitted !!!");

				var name = form.find('#title').val();
				var short_intro = form.find('#short_intro').val();
				if (form.find('#tech-category').val() == null || form.find('#bus-category').val() == null || form.find('#asset-type').val() == null ){
					var msg = "You must select " + (form.find('#tech-category').val() == null ? "a Technical Category" : form.find('#bus-category').val() == null? "a Business Category" : "an Asset type");
					$('.validation-err').html(msg);

					console.log("Missging some select vealues!!");
					return false;
				}
				
				var categories = {
					technical : form.find('#tech-category').val(),
					business : form.find('#bus-category').val(),
					types : form.find('#asset-type').val(),
				};
				var description = tinymce.get('description').getContent();
				
				console.log(`
					Name: ${name},
					categories: ${JSON.stringify(categories, null, 2)},
					description: ${description},
					Tags: ${"[\""+tags.join('", "')+"]"}
				`);
				console.log("logo: ", logo_file);

				socket.emit('create article',name, short_intro, description, tags, categories, logo_file);
		        var tuas = traceCreateOrUpdateArticleSocket("create");
		        setTimeout(function(){
		        	form.modal('toggle');
		        }, 1500)

				return false;
			});

			

			tinymce.init({
				selector: '#description',
				height: 500,
				menubar: true,
				plugins: [
				'advlist autolink lists link image charmap print preview anchor',
				'searchreplace visualblocks code fullscreen',
				'insertdatetime media table paste code help wordcount'
				],
				content_css: '//www.tiny.cloud/css/codepen.min.css'
			});
      /*
      form.find('textarea').keydown(function(e) {
        if(e.keyCode === 9) { // tab was pressed
          // get caret position/selection
          var start = this.selectionStart;
          var end = this.selectionEnd;

          var $this = $(this);
          var value = $this.val();

          // set textarea value to: text before caret + tab + text after caret
          $this.val(value.substring(0, start)
                      + "\t"
                      + value.substring(end));

          // put caret at right position again (add one for the tab)
          this.selectionStart = this.selectionEnd = start + 1;

          // prevent the focus lose
          e.preventDefault();
        }
      });
      */
      form.find('.modal-dialog').css('width', '80%');
      
      console.log("keywords : "+tags);
      var addKWDS = function(){
      	if( form.find('#kwds').val() && tags.indexOf(form.find('#kwds').val()) ==-1 ){
      		tags.push( form.find('#kwds').val() );
      		form.find('#givenkwds').html(redrawKWDS());
      		form.find('#kwds').val('');
      		form.find('#kwds').focus()
      	}
      }

      form.find('#kwds').on('keydown', function(e) {
      	if (e.which == 13) {
      		e.preventDefault();
      		addKWDS();
      	}
      });

      form.find("#addkwds").click(addKWDS);

      var redrawKWDS = function(){
      	console.log("redraw started");
      	var cont = $('<div class="col-sm-9"></div>');
      	tags.forEach(function(tag, index){

      		var kwd = $('<pre style="display: inline-block">'+tag+'</pre>').css({"margin-right" : "1em", "cursor" : "pointer"});
      		kwd.click(function(){
      			console.log('index : '+index);
      			tags.splice(index, 1);
      			form.find('#givenkwds').html(redrawKWDS());
      		});

      		kwd.find('span').css({
      			"background-color" : "#DCDCDC",
      			"cursor" : "pointer",
      			"border-radius" : "3px",
      			"font-size" : "1.5em"
      		});
      		cont.append(kwd);
      	});

      	var r = $('<div class="row"><div class="col-sm-3"></div></div>');
      	r.append(cont);
      	console.log("redraw ended");
      	return r;
      }

      form.find('#givenkwds').html(redrawKWDS());

      form.find('#logo_launch_upload').click(function(e){
        //
        form.find('input#logo_upload').click();
     });

      form.find('#logo_upload').change(function(evt) {
        //console.log("This is readFile");
        var files = evt.target.files;
        var file = files[0];           
        var reader = new FileReader();
        console.log("File : "+JSON.stringify(file));

        var img = document.createElement("img");// $("img");//.css({ "max-width" : "200", "max-height" : "200"});

        img.file = file;

        form.find("#logo_preview").html(img);
        form.find("#logo_preview img").css({ "max-width" : "200px", "max-height" : "200px", "margin-top" : "1em"});
        reader.onload = function(event) {
        	logo_file = event.target.result;
        	img.src = logo_file;

          //console.log("event.target.result : "+logo_file);
       }
       reader.readAsDataURL(file);
    });
 </script>
</body>
</html>
